#wrapper{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

header{
    padding-top: 10px;
    padding-bottom: 10px;
      
}




a{
    color:rgb(2, 31, 31);
    text-decoration: dotted;
    font-family: 'Lucida Sans';
}

section{
    width: 650px;
    height: 550px;
    float: left;
    background: purple;
}

aside{
    width: 310px;
    height: 550px;
    float: right;
    background: rgb(90, 90, 90);
}

footer{
    margin-bottom: 50px;
    height: 50px;
    clear: both;
    background: rgb(201, 196, 196);
    text-align: center;
    color: rgb(61, 60, 60);


}